<% if rooms.present? %>
  <dl>
    <div class="row small-up-1 medium-up-2 large-up-4">
      <% rooms.each do |room| %>
        <div class="column">
          <dt>
          <%= link_to "#{room.name} (#{room.users.count})", dashboard_path(room: room.name) %>
          </dt>
          <dd><%= room.tagline %></dd>
          <% if room.join_button?(current_user: current_user) %>
            <%= button_to 'Join', join_path(room: room.name), class: 'tiny button' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </dl>
<% else %>
  <h5 class="subheader">No rooms currently available</h5>
<% end %>
